<div id="main_container">
  <div class="block_overflow">
  <ul id="posts">
    <% @posts.each do |post| %>
    <li class="post">
      <h2 class="post_title"><a href="/post/<%= post['id'] %>"><%= post['title'] %></a></h2>
      <p>by <%= post.user.username %> </p>
      <p>created at <%= post.created_at %> </p>
      <div class = "postbody">
      <p class="post_body"><%= post['body'] %></p>
      </div>

      <% if post.user.username == "#{session[:username]}" %>
        <form action="/posts/delete/<%= post['id'] %>" method="POST">
          <button>delete</button>
        </form>
        <form action="/posts/<%= post['id'] %>/edit" method="GET">
          <button>edit</button>
        </form>
        <% else %>
        <p></p>
        <% end %>
    </li>
    <% end %>
  </div>
    <form action="/posts/create" method="POST" class="post_new">
        <input type="text" name="title" placeholder="Title"/>
        <% if @username %>
        <input type="hidden" name="username" value="<%= @username %>" />
        <% else %>
        <input type="hidden" name="username" value="anonymous" />
        <% end %>
        <br />
        <textarea name="body" placeholder="Body"></textarea>
      </p>

      <input type="radio" name="codegroup" value="text" checked class="radio">Text<br>
      <input type="radio" name="codegroup" value="ruby" class="radio">Ruby<br>
      <input type="radio" name="codegroup" value="html" class="radio">HTML<br>
      <input type="submit" value="Post" />
    </form>

<div id="hexes">
  <div id = "hexgroup1">
    <div class="hex1">
      <div class="hextop"></div>
      <div class="hexmid"></div>
      <div class="hexbottom"> </div>
    </div>

    <div class="hex2">
      <div class="hextop"></div>
      <div class="hexmid"></div>
      <div class="hexbottom"> </div>
    </div>

    <div class="hex3">
      <div class="hextop"></div>
      <div class="hexmid"></div>
      <div class="hexbottom"> </div>
    </div>
  </div>
</div>
  </div>